/.idea/
/.venv/
**/__pycache__/
/luvcloud_report_gen.egg-info/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
.env
.env.local
.env.*.local
gen_*.pdf
gen_*.docx
test_import.py
logs

tests/*.pdf
tests_resource/*.ttf